@model IEnumerable<EnrollmentDataVM>

@{
    ViewData["Title"] = "EnrollmentDateReport";
}

<h2>Első jelentkezések riport</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Első jelentkezés dátuma
            </th>
            <th>
                Létszám
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
               <td>
                   @item.EnrollmentDate.ToString("yyyy-MM-dd");
               </td>
               <td>
                   @item.StudentCount
               </td>
           </tr> 
        }
    </tbody>
</table>